.footer-top {
    background-image: url('/images/footer-bg.jpg');
    background-size: cover;

    .footer-menu {
        width: 100%;
        background-image: url('/images/dc-logo-bg.png');

        h2 {
            color: white;
        }
        ul {
            list-style-type: none;
            padding: 0;

            a {
                color: #959595;
                line-height: 25px;
                font-size: 12px;

                &:hover {
                    color: $mainColor;
                }
            }
        }
    }
}

.footer-top::after {
    clear: both;
    content: '';
    display: table;
}

.footer-menu-left, .footer-menu-center, .footer-menu-right {
    float: left;
    width: 180px;
}

.footer-bottom {
    padding: 30px;
    background-color: #303030;
    justify-content: space-between;

    .sign-up {
        float: left;
        width: 50%;

        button {
            padding: 10px;
            border: 2px solid $mainColor;
            background-color: transparent;
            cursor: pointer;

            a {
                color: white;
            }

            &:hover {
                background-color: $mainColor;
            }
        }
    }

    .social {
        float: left;
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        span {
            color: $mainColor;
            font-family: $fontTitle;
            font-size: 20px;
            padding-right: 20px;
        }

        @each $icon in $footerSocial {
            li.#{$icon} {
                background-image: url('/images/footer-#{$icon}.png');
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
            }

            a {
                width: 35px;
                height: 35px;
                display: inline-block;
            }
        }

    }
}

.footer-bottom::after {
    clear: both;
    content: '';
    display: table;
}
