#series {
    background-color: $darkSectionBgColor;
    color: $darkSectionTextColor;
    padding-bottom: 20px;

    .card-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;

        .card {
            flex-basis: 185px;
            margin-bottom: 40px;

            a {
               color: $darkSectionTextColor;
               display: inline-block;

               .card-img {
                   width: 185px;
                   height: 185px;

                   img {
                       width: 100%;
                       height: 100%;
                       object-fit: cover;
                       object-position: top;
                   }
               }
            }

            .card-title {
                padding-top: 20px;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}

#thumb {
    background-color: $mainColor;

    .thumb-container {
        position: relative;
        padding: 50px 0;

        .thumb-wrapper {
            position: absolute;
            bottom: 20px;
            border: 1px solid $darkSectionTextColor;

            span {
               position: absolute;
               color: $darkSectionTextColor;
               font-weight: 600;
               padding: 3px;

                &.type {
                   background-color: #235ea3;
                   top: 0;
                   left: 0;
                }

                &.gallery {
                    background-color: #47aada;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }

            img {
                display: block;
            }
        }
    }
}

#info {
    padding-bottom: 100px;

    .comic-info {
        width: 70%;
        float: left;

        h1 {
            color: $infoTitleColor;
        }

        .availability-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            background-color: #55ba59;
            border-bottom: 1px solid #357739;
            font-weight: 600;

            .price, .availability, .check {
                padding: 15px;
            }

            .price {
                flex-grow: 2;
            }

            .availability {
                border-right: 1px solid #357739;
            }

            .price, .availability {
                color: #bafd9c;
            }

            .comic-price, .check {
                color: $darkSectionTextColor;
            }
        }

        .comic-description {
            color: #5e5e5e;
            line-height: 1.7;
            font-weight: 600;
            margin-top: 30px;
        }
    }
    .comic-adv {
        width: calc(30% - 15px);
        margin-left: 15px;
        float: left;
        text-align: right;
    }
}

#details {
    background-color: #f6f6f6;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    padding: 25px 0;

    .talent, .specs {
        float: left;
        width: calc(50% - 10px);

        h2 {
            color: $infoTitleColor;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                display: flex;
                border-top: 1px solid #e3e3e3;
                padding: 10px 0;
                font-weight: 600;

                &:last-child {
                    border-bottom: 1px solid $borderColor;
                }

                span:first-child {
                    min-width: calc(100% / 3);
                    max-width: calc(100% / 3);
                    flex-grow: 1;
                    color: $infoTitleColor;
                }

                span:last-child {
                    flex-grow: 2;
                }

                a {
                    color: $mainColor;
                }
            }
        }
    }

    .talent {
        margin-right: 10px;
    }

    .specs {
        margin-left: 10px;
    }
}

#pane-shop {
    background-color: #F6F6F6;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    .icon-box-container {
        display: flex;

        .icon-box {
            border-left: 1px solid $borderColor;
            width: 254px;
            flex-grow: 1;
            padding: 10px;

            &:hover {
                background-color: $borderColor;
            }

            &:hover span {
                color: $infoTitleColor;
            }

            &:last-child {
                border-right: 1px solid $borderColor;
            }

            a {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                color: #959595;
                font-family: $fontTitle;
            }

            .box-image {
                background-image: url('/images/cta-icons.png');
                display: inline-block;
                width: $iconBoxImageSize;
                height: $iconBoxImageSize;
            }

            @for $i from 0 through 3 {
                &:nth-child(#{$i + 1}){
                    .box-image {
                        background-position: $iconBoxImageSize * $i 0;
                    }

                    &:hover .box-image {
                        background-position: $iconBoxImageSize * $i $iconBoxImageSize;
                    }
                }
            }

        }
    }
}
