#series {
    background-color: $darkSectionBgColor;
    color: $darkSectionTextColor;

    .card-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;

        .card {
            flex-basis: 185px;
            margin-bottom: 40px;

            a {
               color: $darkSectionTextColor;
               display: inline-block;

               .card-img {
                   width: 185px;
                   height: 185px;

                   img {
                       width: 100%;
                       height: 100%;
                       object-fit: cover;
                       object-position: top;
                   }
               }
            }

            .card-title {
                padding-top: 20px;

                span {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}

#comic-thumb {
    background-color: $mainColor;

    .thumb-container {
        position: relative;
        padding: 50px 0;

        .thumb-wrapper {
            position: absolute;
            bottom: 20px;
            border: 1px solid $darkSectionTextColor;

            span {
               position: absolute;
               color: $darkSectionTextColor;
               font-weight: 600;
               font-size: 14px;
               padding: 3px;

                &.type {
                   background-color: #235ea3;
                   top: 0;
                   left: 0;
                }

                &.gallery {
                    background-color: #47aada;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                }
            }

            img {
                display: block;
            }
        }
    }
}

#info {
    .comic-info {
        width: 70%;
        float: left;

        h1 {
            color: $infoTitleColor;
        }

        .availability-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            background-color: #55ba59;
            border-bottom: 1px solid #357739;
            font-weight: 600;

            .price, .availability, .check {
                padding: 15px;
            }

            .price {
                flex-grow: 2;
            }

            .availability {
                border-right: 1px solid #357739;
            }

            .price, .availability {
                color: #bafd9c;
            }

            .comic-price, .check {
                color: $darkSectionTextColor;
            }
        }

        .comic-description {
            color: #5e5e5e;
            line-height: 1.7;
            font-weight: 600;
            margin-top: 30px;
        }
    }
    .comic-adv {
        width: calc(30% - 15px);
        margin-left: 15px;
        float: left;
        text-align: right;
    }
}
