$fontTitle: 'Open Sans Condensed', sans-serif;
$fontText: 'Open Sans', sans-serif;
$mainColor: #1482f9;
$borderColor: #ebebeb;
$navTextColor: #303030;
$darkSectionBgColor: #1c1c1c;
$darkSectionTextColor: #ffffff;
$infoTitleColor: #133f5e;
$footerSocial: facebook, twitter, youtube, pinterest, periscope;
$iconBoxImageSize: 37px;
